.moduleButton{
    padding: 1.25rem 2.5rem;
    border-radius: 1rem;
    background-color: #9333ea;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    transition: background-color 0.2s;

}

.moduleButton:hover{
    background-color: #7e22ce;
}